.password-changed-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  
  .message-container {
	width: 50%;
	padding-left: 5%;
  }
  
  .message-container h1 {
	font-size: 2rem;
	color: #333;
	margin-bottom: 10px;
  }
  
  .message-container p {
	font-size: 1.2rem;
	color: #666;
	margin-bottom: 20px;
  }
  
  .back-to-login-button {
	background-color: #1c8090;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .back-to-login-button:hover {
	background-color: #14656e;
  }
  
  .image-container {
	width: 155%;
	height: 100%;
	top: 54px;
	left: 540px;
	gap: 0px;
	border-radius: 4px 0px 0px 0px;
	opacity: 1; 
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('/src/assets/image-gallery.jpeg') no-repeat center center;
  }
  