.forgot-password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: 'Poppins', Poppins;
}


.forgot-password-box h2 {
    margin: 0;
    padding-bottom: 20px;
    color: #0F3C4C;
    font-size: 24px;
}

.forgot-password-box form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.forgot-password-box label {
    color: #0F3C4C;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.52px;
    height: 15px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins', Poppins;




}

.forgot-password-box input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.forgot-password-box button {
    padding: 12px;
    background-color: #2187AB;
    color: #ffffff;
    border: none;
    font-size: 14px;
    transition: background-color 0.3s;
    width: 400px;
    height: 44px;
    top: 366px;
    left: 73px;
    padding: 10px 0px 0px 0px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    
}

.forgot-password-box button:disabled {
    background-color: #cccccc;
}

.forgot-password-box button:hover:not(:disabled) {
    background-color: #155ab6;
}

.forgot-password-box p {
    font-size: 14px;
    color: #007bff;
    text-align: center;
}

.login-link {
    height: 32px;
    top: 294px;
    left: 392px;
    padding: 10px 0px 0px 0px;
    gap: 10px;
    opacity: 0px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.forgot-password-background {
    flex: 1;
    background: url('/src/assets/image-gallery.jpeg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}