.register-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: 'Arial', 'Poppins', sans-serif;
}

.form-section {
  flex: 1;
  padding: 50px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  margin-bottom: 20px;
  text-align: left;
  font-size: 32px;
  color: #0F3C4C;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

p {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.registration-input-group {
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.registration-input-group label {
  display: block;
  font-size: 14px;
  color: #0F3C4C;
  margin-bottom: 5px;
  font-weight: bold;
}

.registration-input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.register-button {
  padding: 15px;
  border: none;
  border-radius: 4px;
  background-color: #2187AB;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

.register-button:hover {
  background-color: #0056b3;
}

.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.social-login p {
  margin: 25px 0;
  font-weight: bold;
}

.google-btn,
.facebook-btn {
  width: 100%;
  max-width: 400px;
  height: 44px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-btn img,
.facebook-btn img {
  margin-right: 10px;
}

.google-btn {
  background-color: #FFFFFF;
  color: #0F3C4C;
  font-weight: bold;
  font-family: 'Poppins';
}

.google-btn:hover {
  background-color: #e9ebee;
}

.facebook-btn {
  background-color: #FFFFFF;
  color: #0F3C4C;
  font-weight: bold;
  font-family: 'Poppins';
}

.facebook-btn:hover {
  background-color: #e9ebee;
}

.login-link {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.image-section {
  flex: 1;
  background: url('/src/assets/image-gallery.jpeg') no-repeat center center;
  background-size: cover;
  border-radius: 0px 4px 4px 0px;
}

.qr-code-container {
  margin-top: 20px;
  text-align: center;
  padding: 20px; /* Add padding */
}

.qr-code-container img {
  max-width: 400px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.qr-code-container p {
  margin-top: 10px;
  font-size: 14px;
  color: #0F3C4C;
}
