/* ForgotPassword.css */

.forgot-password-container {
    display: flex;
    min-height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.forgot-password-background {
    flex: 1;
    background: url('/src/assets/image-gallery.jpeg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.forgot-password-box {
    width: 500px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: auto;
    margin-right: 50px;
    z-index: 1;
    position: relative;
}

.forgot-password-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #333333;
}

.forgot-password-box form {
    display: flex;
    flex-direction: column;
}

.forgot-password-box label {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333333;
}

.forgot-password-box input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 14px;
}

.forgot-password-box button {
    padding: 10px;
    background-color: #0F3C4C;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.forgot-password-box button:disabled {
    background-color: #cccccc;
}

.forgot-password-box button:hover:not(:disabled) {
    background-color: #155ab6;
}

.forgot-password-box p {
    margin-top: 20px;
    font-size: 14px;
    color: #0b4ad1;
    text-align: center;
}
