.reset-password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
  padding: 20px; /* Optional: Add padding to ensure spacing around the container */
  box-sizing: border-box;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  margin-right: 30px; /* Reduced margin to allow more space for the image */
}

.reset-password-form h1 {
  font-size: 24px;
  color: #1d3b5c;
  margin-bottom: 20px;
}

.reset-password-form label {
  font-size: 14px;
  color: #1d3b5c;
  margin-bottom: 5px;
}

.reset-password-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.reset-password-form button {
  padding: 10px;
  background-color: #1d3b5c;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.reset-password-form button:hover {
  background-color: #154a7a;
}

.reset-password-image {
  max-width: 75%; /* Increased max-width to make the image larger */
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  box-sizing: border-box;
  margin-left: 30px; /* Ensure there's space between the form and the image */
}

.reset-password-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px; /* Optional: Add rounded corners to the image */
}
