* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    background-color: #f5f5f5;
}

.container {
    display: flex;
    height: 100vh;
}
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.sidebar {
    width: 250px;
    background-color:  #2187AB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    height: 1025;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.logo-section .logo-img {
   width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex-grow: 1;
}

.menu-item, .logout {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
}

.menu-item.active, .menu-item:hover, .logout {
    background-color: rgba(255, 255, 255, 0.342);
    width: 387px;
    
}

.menu-item span, .logout span {
    margin-left: 10px;
    font-size: 18px;
    
}

.logout {
    margin-top: auto;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
   
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    height: 40px;
    margin-right: 10px;
}

.header .nav {
    display: flex;
    align-items: center;
}

.header .nav-item {
    margin-left: 20px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

.header .nav-item:hover {
    text-decoration: underline;
}

.header .user {
    display: flex;
    align-items: center;
}

.header .user img {
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.search-filter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-filter .search-bar {
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 5px;
    padding: 10px;
    height: 39px;
    width: 400px;
    gap: 5px;
    display: flex;
}

.search-filter .search-bar input {
    border: none;
    background: transparent;
    outline: none;
    padding: 5px;
    margin-left: 5px;
    font-size: 16px;
    width: 100%;
}

.search-filter .filter-button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #E9F5F9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.search-filter .filter-button:hover {
    background-color: #c1c1c1;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
   
    
    
}

.image-item {
 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
    position: relative;
}

.image-item:hover {
    transform: scale(1.05);
}

.image-item img {
    width: 590px;
    height: 292px;
    top: 217px;
    left: 438px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
}

.item-details {
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    width: 590px;
}

.item-details h4.name {
    margin-bottom: 10px;
    font-size: 20px;
    color: #FFFFFF;
}

.item-details p.description {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.6;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    color: #2C8E9B;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 50%; 
    width: 30px; 
    height: 30px; 
}

.pagination button:hover {
    background-color: #1B95B5;
    color: white;
    border-radius: 50%;
}

.pagination button.active {
    background-color: #2C8E9B;
    color: white;
    border-radius: 50%;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.error-message {
    color: #e74c3c;
}
